
.card{
    background-color: #FF4A54;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.267);
    max-width: 400px;
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.imgc{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}


.card1>.container::after{
    background-image: linear-gradient(
        120deg,
        #00000000,
        #00000000
    );
}
.card1>.container:hover::after{
    background-image: linear-gradient(
        120deg,

        #ffffff28,
        #ffffff28
    );   
}

.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
    text-transform: uppercase;
}
.details>p{
    color: #000000;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
a{
    text-decoration: none;
}