.myclass a{
    text-decoration: none ;
    color: black;
    z-index: 100000;
}
.myclass1{
    background-color: rgb(255, 255, 255);
    border: 0.1px solid rgba(0, 0, 0, 0.37);
    border-radius: 5px;
}